.Backgroud-image img,video{
    position: static;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    animation: fade-in 500ms ease-in-out;
   
}
.img-anime{
    animation: fade-in 500ms ease-in-out 1s;
}
@keyframes fade-in {
    from{
        opacity: 0;
        transform: translateY(-500px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
    
}

